  <% require "date" %>
  <%= form_for [@subject, @subject.blackboards.build], html:{multipart:true} do |f| %>
    <% if @blackboard.errors.any? %>
    <div id="error_explanation">
      <h2> 入力内容が適切ではありません。</h2>
      <ul>
      <% @blackboard.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
	<% end %>
	<br>
    <p>
      <%= f.label :title , "タイトル" %>
      <%= f.text_field :title %>
    </p>
 
    <p>
      <%= f.label :description , "説明" %>
      <%= f.text_area :description %>
    </p>

    <p>
      <%= f.label :deadline , "締め切り" %>
      <%= f.datetime_select :deadline , default:DateTime.now+1 %>
    </p>
    
	<p>
      <%= f.label :material ,"板書データ"%><br>
      <%= f.file_field :material %>
    </p>
 
    <p>
      <%= f.submit %>
    </p>
<% end %>
