<p>
  <strong>Title:</strong>
  <%= @blackboard.title %>
</p>
 
<p>
  <strong>Description:</strong>
  <%= @blackboard.description %>
</p>

<p>
  <strong>Image:</strong>
  <%= image_tag @blackboard.material.url(:medium) %>
</p>

<%= link_to '教科ページに戻る', subjects_path %>
| <%= link_to '入力し直す', edit_blackboard_path(@blackboard) %>
