<h1><%= @blackboard.title %></h1>
<blockquote>
  <%= @blackboard.description %>
</blockquote>

<%= link_to  @blackboard.material.url(:original, false) do %>
   <button class="btn-large btn-primary">ダウンロード</button>
<% end %>
<br><br>

<%= image_tag @blackboard.material.url(:original) %><br>
<%= link_to "教科ページに戻る", subject_path(@subject) %><br>
