<h1><%= @subject.subject_name%></h1>
<h3>担当教員: <%= @subject.teacher %></h3>
<%= @subject.semester %>　|　<%= @subject.day_of_a_week %>　|　<%= @subject.period %><br><br>

<h4><%= @subject.description %></h4>
<br>
<%= link_to  new_subject_blackboard_path(@subject.id) do %>
  <button class="btn btn-primary">板書のアップロード</button>
<% end %>
<br>
<br>
<%= render "blackboards/blackboards" %>
<br><br>
<%= link_to "教科情報を編集する", edit_subject_path %>|
<%= link_to "科目一覧に戻る", subjects_path %>
