<h1><%= @subject.subject_name%></h1>
<h3>担当教員: <%= @subject.teacher %></h3>
<%= @subject.semester %>　|　<%= @subject.day_of_a_week %>　|　<%= @subject.period %><br><br>

<h4><%= @subject.description %></h4>


<%= render "blackboards/blackboards" %>
<%= link_to "新しく板書を登録する", new_subject_blackboard_path(@subject.id) %>
<br><br>
<%= link_to "教科情報を編集する", edit_subject_path %>|
<%= link_to "教科一覧に戻る", subjects_path %>
