<h1><%= @subject.subject_name%></h1>
教科名: <%= @subject.subject_name %><br>
先生: <%= @subject.teacher %><br>
曜日: <%= @subject.day_of_a_week %><br>
時限: <%= @subject.period %><br>
学期: <%= @subject.semester %><br>
説明: <%= @subject.description %><br>

<%= link_to "新しく板書を登録する", new_subject_path %>
<%= render "blackboards/blackboards"%>
<br><br>
<%= link_to "教科情報を編集する", edit_subject_path %>|
<%= link_to "教科一覧に戻る", subjects_path %>
